<div class="tech-header">
    <div class="tech=title">
        The Tech Blog
    </div>
</div>
<form id="signup_form">
    <div class="signup-header"> Login</div>
    <div class="signup-box">
        <div id="signup_errors"></div>
        <div class="username-title">Username</div>
    <div>
        <input class="username-input" type="text" id="username" placeholder="Username Here"/>
    </div>
    <div class="password-title">Password</div>
    <div>
        <input class="password-input" type="password" id="password" placeholder="Password Here"/>
    </div>
    <button class="signup-btn"> Sign Up</button>
    <div>
    <a style="text-decoration: none" id="login-link" href="/login">Login</a>
    </div>
    </div>
</form>

<script src="../js/login.js"></script>