<div class="tech-header">
    <div class="tech=title">
        The Tech Blog
    </div>
</div>
<form id=" login_form">
    <div class="login-header"> Login</div>
    <div class="login-box">
        <div id="errors"></div>
        <div class="username-title">Username</div>
    <div>
        <input class="username-input" type="text" id="username" placeholder="Username Here"/>
    </div>
    <div class="password-title">Password</div>
    <div>
        <input class="password-input" type="password" id="password" placeholder="Password Here"/>
    </div>
    <button class="login-btn"> Login</button>
    <a style="text-decoration: none" id="signup-link" href="/signup">Sign Up</a>
    </div>
</form>

<script src="../js/login.js"></script>